<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout(activeMenuItem='jobs')}"
>
<body>
<div layout:fragment="content">
    <h1 style="text-align: center;" th:text="#{jobs.title}">jobsList</h1>
    <div class="container" style="text-align: center; width: auto; margin: 0px auto;">

        <table id="job" class="table table-striped table-hover">
            <tbody>
            <tr>
                <th th:text="#{jobs.header.id}"/>
                <td th:text="${job.id}"/>
            </tr>
            <tr>
                <th th:text="#{jobs.header.createdDate}"/>
                <td th:text="${#temporals.format(job.createdDate, #messages.msg('app.dateTimeformat'))}"/>
            </tr>
            <tr>
                <th th:text="#{jobs.header.state}"/>
                <td th:text="${job.state}"/>
            </tr>
            </tbody>
        </table>
		<table id="leaves" class="table table-striped table-hover">
			<thead>
			<tr>
				<th th:text="#{jobs.header.files}"/>
				<th th:text="#{jobs.header.hashes}"/>
				<th />
			</tr>
			</thead>
			<tbody>
			<tr th:each="file : ${job.files}">
				<td th:text="${file.fileName}"/>
				<td th:text="${file.hash}"/>
				<td> <a th:href="@{/files/{fileId}/proof(fileId=${file.id})}"><img th:src="@{/images/icon_file.svg}" height="40px"/></a></td>
			</tr>
			</tbody>
		</table>
    </div>
</div>
</body>
</html>
