<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout(activeMenuItem='timestamping')}"
>
<head>
    <style type="text/css">
        table {
            table-layout: fixed;
        }

        table input {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

        input[readonly=""] {
            border: 0px;
        }

        form {
            text-align: center;
            width: auto;
            margin: 0px auto;
        }

    </style>
</head>
<body>
<div layout:fragment="content" class="container" style="text-align: center; width: 100%;">
    <h1 style="text-align: center">Timestamp your files</h1>
    <form method="POST" th:action="@{/timestamp}" action="#">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="algo-select">Algorithm</label>
            </div>
            <select class="custom-select" id="algo-select" name="algorithm">
                <option th:each="algo : ${algorithms}" th:value="${algo}">[[${algo}]]</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
            </div>
            <div class="custom-file">
                <input id="file-input" type="file" class="custom-file-input"
                       multiple>
                <label class="custom-file-label" for="file-input">Browse</label>
            </div>
        </div>
        <table id="file-info" class="table table-bordered table-sm">
            <thead>
            <tr>
                <th scope="col">File name</th>
                <th scope="col">Size</th>
                <th scope="col">Checksum</th>
                <th scope="col">Comment</th>
            </tr>
            </thead>
            <tbody id="file-info-body">
            </tbody>
        </table>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Global info</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" name="batch-comment"></textarea>
        </div>
        <input type="submit" class="btn btn-success"
               value="Upload"/>
    </form>
    <script type="text/javascript" th:src="@{/webjars/crypto-js/3.1.9-1/crypto-js.js}"></script>
    <script type="module" th:src="@{/js/timestamping.js}"></script>
</div>

</body>
</html>