<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout(activeMenuItem='tokens')}"
>
<head>
    <style type="text/css">
        table {
            table-layout: fixed;
        }

        table input {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

        input[readonly=""] {
            border: 0px;
        }

    </style>
</head>
<body>
<div layout:fragment="content">
    <h4 class="">Timestamp your files</h4>
    <form method="POST" th:action="@{/timestamp}" action="#" th:object="${timestampData}">
        <div class="input-group mb-3">
            <label for="algo-select">Select your hashing algorithm:</label>
            <select id="algo-select" name="algorithm">
                <option th:each="algo : ${algorithms}" th:value="${algo}">[[${algo}]]</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
            </div>
            <div class="custom-file">
                <input id="file-input" type="file" class="custom-file-input"
                       multiple>
                <label class="custom-file-label" for="file-input">Browse</label>
            </div>
        </div>
        <table id="file-info" class="table table-bordered table-sm">
            <thead>
            <tr>
                <th scope="col">File name</th>
                <th scope="col">Size</th>
                <th scope="col">Checksum</th>
                <th scope="col">Comment</th>
            </tr>
            </thead>
            <tbody id="file-info-body">
            </tbody>
        </table>
        <input type="text" name="batch-comment">
        <input type="submit" class="btn btn-success"
               value="Upload"/>
    </form>
    <script type="text/javascript" th:src="@{/webjars/crypto-js/3.1.9-1/crypto-js.js}"></script>
    <script type="module" th:src="@{/js/timestamping.js}"></script>
</div>

</body>
</html>