<html th:fragment="layout (content, menu)"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="#{nav.brand}"></title>

    <!-- Common styles and scripts -->
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap-reboot.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/font-awesome/5.13.0/css/all.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/main.css}"/>

    <!-- JS -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-table/1.16.0/dist/locale/bootstrap-table-fr-FR.js}"
            charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-notify/3.1.3-1/bootstrap-notify.min.js}"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">sword Rules!!</a>
        </div>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li th:fragment="menuItem (path,name,label)" th:class="${name==activeMenuItem ? 'active' : ''}">
                    <a th:id="'menu_' + ${label}" th:href="@{/__${path}__}" th:text="${label}"/>
                </li>
                <li th:replace="::menuItem ('','index',#{nav.index})"/>
                <li th:replace="::menuItem ('jobs','job',#{nav.jobs})"/>
                <li th:replace="::menuItem ('tokens','token',#{nav.tokens})"/>
                <li th:replace="::menuItem ('timestamping','timestamping',#{nav.timestamping})"/>
            </ul>
            <div class="logout" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <label th:text="#{index.loggedAs(${#authentication.name})}"/>
                    <button type="submit" id="btn_logout" class="btn btn-default navbar-btn" th:text="#{login.logout}"/>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="container-fluid">
        <div layout:fragment="content"></div>
    </div>
</div>
<div>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</div>
</body>
</html>
